/*Selectores por etiqueta*/
body{
    max-width: 720px; 
    margin: auto;
    background-image: url('img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    text-decoration:none;
}

table, th{
    table-layout: fixed; 
    width: 100%; 
    border-collapse: collapse;
    text-align: center; 
    border: 1px solid; 
}

table caption {
    margin-bottom: 10px;
}

input{
    width: 200px;
}

textarea{
    resize: none;
}

/*Selectores por Id*/

#presentacion{
    background-image:url('img/portada.jpg'); 
    background-repeat: no-repeat;
}

#foto{
    border-radius: 180px; 
    margin-left: 12px;
    width:180px; 
    height:180px;
}

#descripcion{
    text-align: justify;
}

#campoNombre{
    margin-right: 10px;
}

#licenciasYCertificaciones a{
    display: flex; 
    justify-content: center
}

#licenciasYCertificaciones figcaption{
    text-align: center;
}

#informacionDeContacto p{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: small;
}

#informacionDeContacto img{
    float:left;
    width:18px; 
    height:18px;
}

#contacto fieldset{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image:url('img/mensaje.jpg');
}

#contacto div{
    display: flex;
}

/*Selectores por clase*/

.logos{
    float:left;
    width:50px; 
    height:50px;
}

.textoLogos{
    margin-left: 60px;
}

.cabecera{
    background-color: rgba(0, 0, 255, 0.5);
}

.contenido{
    background-color: rgba(127, 255, 212, 0.5);
    border-right: 1px solid;
}

.requerido {
    font-size: 1.5em;
    font-weight: bold;
    color: #C00;
}